/*
 * @Author: omtech.cn 
 * @Date: 2020-01-15 09:41:21 
 * @Last Modified by: OMT.Xu
 * @Last Modified time: 2020-07-14 10:56:24
 */

 @charset "utf-8";
 /* CSS Document */
 *, :after, :before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 * {
     -webkit-tap-highlight-color: transparent;
     outline: 0;
 }
 body,div,dl,dt,dd,ul,ol,li,h1, h2, h3, h4, h5, h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
     margin: 0;
     padding: 0;
 }
 html { font-size:62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
 body,ul,li {
     padding: 0;
     margin: 0;
     border: 0;
 }
 .w { max-width: 640px;}
 body {
     margin: 0 auto;
     min-width: 320px;
     width: 100%;
     min-height: 100%;
     padding: 0;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
     font-family:Tahoma,Microsoft YaHei,Arial,Roboto,Droid Sans,Helvetica Neue,Droid Sans Fallback,Heiti SC,Hiragino Sans GB,Simsun,sans-serif;
     background-color: #fff;
 }
 h1, h2, h3, h4, h5, h6, input, select, textarea, button {
     font-family: inherit;
     line-height: 100%
 }
 pre { font-family: inherit; }
 img {
     border: 0;
     display: block;
 }
 li, ol, ul {
     list-style: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 em, i {
     font-style: normal;
 }
 input[placeholder], [placeholder], *[placeholder] {
     font-family: Tahoma,Arial,Roboto,Droid Sans,Helvetica Neue,Droid Sans Fallback,Heiti SC,Hiragino Sans GB,Simsun,sans-self, Microsoft YaHei;
 }
 ::-webkit-input-placeholder { /* WebKit browsers */
     color:#a0a0a0;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:#a0a0a0;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:#a0a0a0;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:#a0a0a0;
 }
 address,caption,cite,code,dfn,em,strong,th,var{
     font-style: normal;
     font-weight: normal;
 }
 input {
     outline: none;
     border: none;
 }
 input[type="button"]{
     -webkit-appearance: none;
 }
 *:focus,
 *:active {
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent;
 }
 a,img {
     -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent;
 }
 a {
     text-decoration: none;
 }
 a:focus,
 a:active {
     outline:none;
     -webkit-tap-highlight-color:transparent;
 }
 .clearfix:after {
     clear: both;
     content: "?";
     display: block;
     height: 0;
     visibility: hidden;
 }
 .dn {
     display: none;
 }
 .blue {
	color:#0099ff !important;
}
 .filtrate {
	width: 100%;
	height: calc(100vh);
	padding: 5%;
	background: #fff;
	z-index: 3;
	overflow: hidden;
}
.filtrate .sroll {
	padding-bottom: 3%;
    height: calc(88vh);
    overflow-y: auto;
}
.filtrate .sroll::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.menu .menu-li {
	margin-top: 1.5rem;
}
.menu .menu-li .item {
	align-items: center;
	padding: 1.2rem 0 1.2rem 1rem;
	font-size: 1.5rem;
	border-bottom: 1px solid #f2f2f2;
	pointer-events: auto;
	transition: all .5s ease-in;
}
.menu .menu-li .item.open {
	background: #f1f4f9;
	border-radius: 1rem;
}
.menu .menu-li .item a {
	color: #333;
	vertical-align: middle;
	display: inline-block;
	width: 70%;
}
.menu .icon-down {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .8rem;
	background: url("imgs/icon_down.png") no-repeat center center;
	background-size: 100% auto;
	vertical-align: middle;
}
.menu .son {
	margin-left: 2.3rem;
}
.menu .son .item {
	border: 0;
	padding: 0;
	padding-top: 1.5rem;
}
.menu .J_show {
	background: url("imgs/icon_up.png") no-repeat center center;
	background-size: 100% auto;
}
.menu .active {
	background: #f1f4f9;
	border-radius: 1rem;
}
.menu .active>.name {
	color: #0099ff !important;
}
